<a href="https://colab.research.google.com/github/Ashwitharavula/ps_lab/blob/main/Lab-5%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
# 1. Create Customers Dataset
customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'city': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Los Angeles']
})

print("\n--- Customers Dataset ---")
print(customers)
# 2. Create Transactions Dataset
transactions = pd.DataFrame({
    'transaction_id': [101, 102, 103, 104, 105, 106, 107],
    'customer_id': [1, 2, 1, 3, 4, 5, 2],
    'amount': [250, 300, 150, 400, 200, 350, 100]
})

print("\n--- Transactions Dataset ---")
print(transactions)
# 3. Merge Datasets on customer_id
merged_df = pd.merge(transactions, customers, on='customer_id', how='inner')

print("\n--- Merged Dataset ---")
print(merged_df)
# 4. Calculate total spend per customer
customer_spend = merged_df.groupby(['customer_id', 'name', 'city'])['amount'].sum().reset_index()
customer_spend.rename(columns={'amount': 'total_spend'}, inplace=True)

print("\n--- Total Spend Per Customer ---")
print(customer_spend)
# 5. Group by City to Analyze Spending
city_spend = customer_spend.groupby('city')['total_spend'].sum().reset_index()

print("\n--- City-wise Spending ---")
print(city_spend)
# 6. Identify Top Spender
top_spender = customer_spend.loc[customer_spend['total_spend'].idxmax()]

print("\n--- Top Spender ---")
print(top_spender)
# 7. Insights
print("\n--- Insights ---")
print(f"Top spender is {top_spender['name']} from {top_spender['city']} with a total spend of ${top_spender['total_spend']}.")
print("City with highest spending:", city_spend.loc[city_spend['total_spend'].idxmax(), 'city'])

--- Customers Dataset ---
   customer_id     name         city
0            1    Alice     New York
1            2      Bob  Los Angeles
2            3  Charlie     New York
3            4    David      Chicago
4            5      Eva  Los Angeles

--- Transactions Dataset ---
   transaction_id  customer_id  amount
0             101            1     250
1             102            2     300
2             103            1     150
3             104            3     400
4             105            4     200
5             106            5     350
6             107            2     100

--- Merged Dataset ---
   transaction_id  customer_id  amount     name         city
0             101            1     250    Alice     New York
1             102            2     300      Bob  Los Angeles
2             103            1     150    Alice     New York
3             104            3     400  Charlie     New York
4             105            4     200    David      Chicago
5             106            5     350      Eva  Los Angeles
6             107            2     100      Bob  Los Angeles

--- Total Spend Per Customer ---
   customer_id     name         city  total_spend
0            1    Alice     New York          400
1            2      Bob  Los Angeles          400
2            3  Charlie     New York          400
3            4    David      Chicago          200
4            5      Eva  Los Angeles          350

--- City-wise Spending ---
          city  total_spend
0      Chicago          200
1  Los Angeles          750
2     New York          800

--- Top Spender ---
customer_id           1
name              Alice
city           New York
total_spend         400
Name: 0, dtype: object

--- Insights ---
Top spender is Alice from New York with a total spend of $400.
City with highest spending: New York

In [2]:

import pandas as pd
# 1. Create Patients Dataset
patients = pd.DataFrame({
    'patient_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'age': [29, 45, 34, 60, 50],
    'city': ['New York', 'Los Angeles', 'Chicago', 'New York', 'Los Angeles']
})
print("\n--- Patients Dataset ---")
print(patients)
# 2. Create Appointments Dataset
appointments = pd.DataFrame({
    'appointment_id': [101, 102, 103, 104, 105, 106, 107, 108],
    'patient_id': [1, 2, 1, 3, 4, 5, 2, 1],
    'doctor': ['Dr. Smith', 'Dr. Lee', 'Dr. Smith', 'Dr. Patel', 'Dr. Lee', 'Dr. Smith', 'Dr. Lee', 'Dr. Patel'],
    'date': [
        '2025-01-10', '2025-01-12', '2025-01-20', '2025-02-05',
        '2025-02-10', '2025-02-15', '2025-02-18', '2025-02-25'
    ]
})
print("\n--- Appointments Dataset ---")
print(appointments)
# 3. Merge Datasets on patient_id
# ---------------------------
merged_df = pd.merge(appointments, patients, on='patient_id', how='inner')

print("\n--- Merged Dataset ---")
print(merged_df)
# 4. Count appointments per patient
patient_visits = merged_df.groupby(['patient_id', 'name', 'age', 'city'])['appointment_id'].count().reset_index()
patient_visits.rename(columns={'appointment_id': 'visit_count'}, inplace=True)

print("\n--- Appointments Per Patient ---")
print(patient_visits)
# 5. Group by Doctor to compute workload
doctor_workload = merged_df.groupby('doctor')['appointment_id'].count().reset_index()
doctor_workload.rename(columns={'appointment_id': 'total_appointments'}, inplace=True)
print("\n--- Doctor Workload ---")
print(doctor_workload)
# 6. Find patient with maximum visits
top_patient = patient_visits.loc[patient_visits['visit_count'].idxmax()]
print("\n--- Most Frequent Patient ---")
print(top_patient)
# 7. Insights
print("\n--- Insights ---")
print(f"Most frequent patient is {top_patient['name']} with {top_patient['visit_count']} visits.")
print("Doctor with highest workload:", doctor_workload.loc[doctor_workload['total_appointments'].idxmax(), 'doctor'])

--- Patients Dataset ---
   patient_id     name  age         city
0           1    Alice   29     New York
1           2      Bob   45  Los Angeles
2           3  Charlie   34      Chicago
3           4    David   60     New York
4           5      Eva   50  Los Angeles

--- Appointments Dataset ---
   appointment_id  patient_id     doctor        date
0             101           1  Dr. Smith  2025-01-10
1             102           2    Dr. Lee  2025-01-12
2             103           1  Dr. Smith  2025-01-20
3             104           3  Dr. Patel  2025-02-05
4             105           4    Dr. Lee  2025-02-10
5             106           5  Dr. Smith  2025-02-15
6             107           2    Dr. Lee  2025-02-18
7             108           1  Dr. Patel  2025-02-25

--- Merged Dataset ---
   appointment_id  patient_id     doctor        date     name  age  \
0             101           1  Dr. Smith  2025-01-10    Alice   29
1             102           2    Dr. Lee  2025-01-12      Bob   45
2             103           1  Dr. Smith  2025-01-20    Alice   29
3             104           3  Dr. Patel  2025-02-05  Charlie   34
4             105           4    Dr. Lee  2025-02-10    David   60
5             106           5  Dr. Smith  2025-02-15      Eva   50
6             107           2    Dr. Lee  2025-02-18      Bob   45
7             108           1  Dr. Patel  2025-02-25    Alice   29

          city
0     New York
1  Los Angeles
2     New York
3      Chicago
4     New York
5  Los Angeles
6  Los Angeles
7     New York

--- Appointments Per Patient ---
   patient_id     name  age         city  visit_count
0           1    Alice   29     New York            3
1           2      Bob   45  Los Angeles            2
2           3  Charlie   34      Chicago            1
3           4    David   60     New York            1
4           5      Eva   50  Los Angeles            1

--- Doctor Workload ---
      doctor  total_appointments
0    Dr. Lee                   3
1  Dr. Patel                   2
2  Dr. Smith                   3

--- Most Frequent Patient ---
patient_id            1
name              Alice
age                  29
city           New York
visit_count           3
Name: 0, dtype: object

--- Insights ---
Most frequent patient is Alice with 3 visits.
Doctor with highest workload: Dr. Lee